gtk-im-module = {{ .desktop.inputMethod | quote }}
gtk-theme-name = {{ .desktop.gtk2Theme | quote }}
gtk-icon-theme-name = {{ .desktop.iconTheme | quote }}
gtk-cursor-theme-name = {{ .desktop.cursorTheme | quote }}
gtk-font-name = {{ .desktop.font | quote }}
