include "environment.kdl"
include "input.kdl"
include optional=true "output.kdl"
include "layout.kdl"
include "window-rule.kdl"
include "binds.kdl"
include "startup.kdl"

cursor {
  xcursor-theme "Bibata-Modern-Ice"
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

prefer-no-csd

overview {
  workspace-shadow {
    off
  }
}

include "./noctalia.kdl"

