window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="firefox$" title="^画中画$"
    match app-id="^chrome.*" title="Bitwarden"
    match app-id="mpv"
    open-floating true
}

window-rule {
    match app-id="org.telegram.desktop" title=r#"^Mini App:"#
    default-column-width { proportion 0.33333; }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
