[unit]
partof=graphical-session.target
after=graphical-session.target
requisite=graphical-session.target

[service]
execstart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
restart=on-failure
