[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/env bash %h/.config/niri/scripts/swaybg.sh
Restart=on-failure
